@keyframes fade_in {
    0% {transform: translateX(-40rem);}
    100%{transform: translateX(0);} 
}
@keyframes fade_out {
    0% {transform: translateX(0);}
    100%{transform: translateX(-40rem);}
}
@keyframes roll_out {
    0% {transform: translatey(0);
    opacity: 1;}
    100%{transform: translatey(-2rem);
    opacity: 0;}
}
@keyframes roll_in{
    0% {transform: translatey(2rem);opacity: 0;}
    100%{transform: translatey(0rem);opacity: 1;}
}
html{
    scroll-behavior: smooth;
    width: 100vw;
}
body {
    font-family:'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    margin: 0;
    background-color: aliceblue;
    min-height: 100vh;
    scroll-behavior: smooth;
    width: 100%;
    color-scheme: light dark;
}
nav{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center; 
    background-color: #E8E8E8;
    width: 18rem;
    min-height: 100%;
    position:fixed;
    left: -14rem;
    transition: 0.6s;
    z-index: 9;
    -webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.6); 
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.6);

}
.ham-menu{
    background-color: #51BB84;
    height: 4rem;
    display: flex;
    justify-content: right;
    width: 18rem;
    position:fixed;
    left: -14rem;
    top: 0;
    transition: 0.6s;
    z-index: 99;
}
.ham-butt{
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    display: flex;
    align-items:flex-end;
    justify-content: center;
    flex-direction: column;
    transition: 0.5s;
}
.nav_btn{
    transition: 0.5s;
}
.nav_btn:hover{
    transform: scale(1.07);
    transition: 0.5s;
}
.ham-butt:hover{
    -webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.6); 
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.6);
    transition: 0.5s;
}
.img{
    background-image: url(../src/desktop_bg.jpg);
    max-width: 550px;
    background-position-y: center;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    color: #51BB84;
    background-repeat: no-repeat;
    background-position-x: center;
    margin-left: 4rem;
    transition: 0.6s;
    animation: fade_in 0.6s;
    -webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.6); 
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.6);
    height: auto;
    background-size:cover;
}
.container{
    padding: 3rem;
    max-width: 80%;
    animation:roll_in 0.6s;
}
.title_1{
    font-weight: bold;
    font-size: 3rem;
}
.subtitle_1{
    color:#51BB84;
    font-weight: bold;
    padding: 0.5rem 0;
}
.container-catg{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.main_container{
    display: flex;
   
}
.itemes{
    margin-top: 2rem;
    width: 300px;
    
}
.hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(70, 70, 70, 0.75), rgba(0, 0, 0, 0));
    margin: 1rem 0;
}
.top-bar{
    width: 2rem;
    height: 3px;
    background-color: white;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
}
.bottom-bar{
    width: 2rem;
    height: 3px;
    background-color: white;
    margin-right: 1rem;
    transition: 0.7s;
}
.middle-bar{
    width: 2rem;
    height: 3px;
    background-color: white;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    transition: 0.6s; 
    opacity: 1; 
}
.second_container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: center;
    animation:roll_in 1s;
    width: 100%;

}
.projects{
    width: 17rem;
    height: 18rem;
    background-color:#51BB84;
    margin: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 0.5rem;
    transition: 0.2s; 
    
}
.projects:hover{
    -webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.6); 
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.6);   
    transition: 0.2s; 
    cursor: pointer;

}
.hide{
    display:none;
}
.cat{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: right;
    width: 18rem;
    transition: 0.5s;
    height: fit-content;
    margin: 2rem 0;
    padding-right: 0.5rem;
    
}
.cat_icon{
    color: black;
}
.active{
    color: #51BB84;
}
.cat:hover{
    text-decoration: dotted black;
    transform: translatey(-0.4rem);
    transition: 0.5s;
    cursor: pointer;
}
.cat:active{
    transform: scale(0.98);
    color: grey;
}
.description{
    max-width: 100%;
    padding: 0 0 0 1rem;
    margin-bottom: 1rem;
    line-height: 1.4rem;
    color:darkslategray
}
.card_description{
    line-height: normal; 
    color:darkslategray;
    padding: 0 2rem 0 0;
    margin-top: 1rem;
}
.title_2{
    font-size:2rem;
    font-weight: bold;
    padding:1rem 0 1rem 2rem;
     width: 70%; 
}
.third_container{
    width: 60%;
    animation:roll_in 1s;
}
.page_3{
    display: flex;
}
.social_container{
    display: flex;
    flex-direction: row;

}
.social{
    margin-left: 3rem;
    width: 2rem;
    height: 2rem;
    border-radius: 10rem;
    border: solid 3px black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.social:hover{
    color: #318b5c;
    border: solid #318b5c;
    
}
#map{
    width: 100%; 
    height: 300px; 
    background: #eee; 
    border: 2px solid #aaa; 
    margin: 0 1rem 1rem 0;
}
.footer{
    display: none;
}
.title_3{
    font-size: 2rem;
    margin: 1rem;
}
#form{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 1em 0rem; 
    background-color: lightgreen;
    flex-wrap: wrap;
}
.form_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    width:auto;
    margin: 2rem 0;
}
.input{
    width: 70%;
    height: 2rem;
    border-radius: 0.5rem;
    border:solid 2px #318b5c;
    font-size: 1rem;
    margin: 0.5rem 0;
}
.span{
    text-align: left;
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 0 0rem;
    width: 12rem;
}
#letter{
    height: auto;
    width: 50%;
    margin:0 0 0 1rem;
}
.btn{
    background-color: #51BB84;
    color: #ffff;
    font-size: 1.2rem;
    border: solid 2px #ffff;
    border-radius: 1rem;
    width: 8rem;
    text-align: center;
    margin: 1rem;
    height: 2rem;
}
.btn:hover{
    border: solid 2px #318b5c;
    scale: 1.02;
}
.btn:active{
    scale: 0.98;
    border: solid 2px #318b5c;
    background-color:#ffff;
    color: #318b5c;
}
.adress{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;

}
.adress_text{
    width: 100%;
    font-size: 1.2rem;
    padding: 1rem 0;
}


@media screen and (max-width:550px) {
    
    body {
        font-family:'Roboto', sans-serif;
        display: flex;
        flex-direction: column;
        background-color: aliceblue;
        min-height: 100vh;
        scroll-behavior: smooth;
        overflow: auto;
        width: 100vw;
    }
    nav{
        width: 100vw;
        height: 40vh;
        min-height:unset;
        justify-content:flex-start; 
        background-color: #E8E8E8;
        position:fixed;
        top: -40vh;
        left: 0;
        transition: 0.6s;
        z-index: 9;
        box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.6);
        margin-right: 5rem;
        align-items: center;
    }
    .nav_ul{
        margin-right: 3rem;
    }
    .main_container{
        display: flex;
        flex-direction: column;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .img{
        color: white;
        background-image: url(../src/22222.jpg);
        width: 100vw;
        height: 40vh;
        background-size:auto;
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        color:#318b5c;
        background-repeat: no-repeat;
        margin:0 ;
        transition:fade_in 1s;
        animation: fade_in 1s;
    }
    .container-catg{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .card_description{
        padding: 0;
        width: 100%;
    }
    .container{
        padding: 0;
        width: 100vw;
        animation:roll_in 1s;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .second_container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .projects{
        width: 70vw;
        height: auto;
        background-color:#51BB84;
        margin: 1rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        border-radius: 0.5rem;
        transition: 0.2s; 
    }
    .title_2{
        text-align: center;
        padding:0;
        margin-top: 4rem;
    }
    .text{
        width: 80vw;
        text-align: justify;
        padding-top: 2rem;
    }
    .title_1{
        text-align: center;    
    }
    .subtitle_1{
        text-align: center;  
    }
    .category{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .itemes{
        height: 150px;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .title_3{
        text-align: center;
    }
    .ham-menu{
        background-color: #51BB84;
        height: 3rem;
        display: flex;
        justify-content: center;
        width: 3rem;
        position:fixed;
        left: 0;
        top: 0;
        transition: 1s;
        z-index: 99;
    }
    .ham-butt{
        width: 3rem;
        height: 3rem;
        cursor: pointer;
        display: flex;
        align-items:center;
        justify-content: center;
        flex-direction: column;
        transition: 0.5s;
    }
    .top-bar{
        width: 1.5rem;
        height: 3px;
        background-color: white;
        margin-right: 0rem;
        margin-top: 0.2rem;
        margin-bottom: 0.3rem;
    }
    .bottom-bar{
        width: 1.5rem;
        height: 3px;
        background-color: white;
        margin-right: 0rem;
        transition: 0.7s;
    }
    .middle-bar{
        width: 1.5rem;
        height: 3px;
        background-color: white;
        margin-right: 0rem;
        margin-bottom: 0.3rem;
        transition: 0.6s; 
        opacity: 1; 
    }
    .third_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    #map{
        width: 90vw;
        height: 50vh;
    }
    .social{
        margin: 0 1.5rem;
        
    }
    .footer{
        text-align: center; 
        padding:20px 0;
        display: block;
    }
    #form{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 2rem 0;
    }
    .input{
        width: 70%;
        margin: 0.5rem 0rem;
        justify-content: space-between;
        align-items: center;
    }
    .span{
        align-items: center;
        margin: 0 2rem;
        width: 70%;
        justify-content: space-between;
    }
    .adress{
        flex-direction: column;
        align-items: center; 
    }
    .adress_text{
        width: 90%
    }

}
@media (prefers-color-scheme: dark) {
    body{
        background-color: #1D1F20;
        color: white;
    }
    .description{
        color: gray;
    }
    nav{
        background-color:#1D1F20;
    }
    .img{
        color: #318b5c;
    }
    .card_description{
        color: gray;
    }
    .top-bar{
        background-color: black;
    }
    .middle-bar{
        background-color: black;
    }
    .bottom-bar{
        background-color: black;
    }
    .cat_icon{
        color: white;
    }
    .active{
        color: #51BB84;
    }
    .social{
        border: solid 3px white;
        color: white;
    }

    
}



